#houseInfoList {
	width: 990px;
	margin: 0 auto;
	margin-top: 20px;
	#houseBox {
		width: 700px;
		border: 1px solid #efefef;
		.house {
			width: 700px;
			height: 240px;
			padding: 0px 0px 20px 0px;
			border-bottom: 2px dashed #efefef;
			&:hover {
				background: pink;
			}
			.houseImg {
				float: left;
				width: 200px;
				height: 200px;
				margin: 20px 0px 0px 30px;
			}
			.houseTextInfo {
				float: left;
				width: 200px;
				height: 200px;
				margin: 20px 0px 0px 50px;
				.name {
					width: 100%;
					height: 50px;
					font-size: 22px;
					line-height: 50px;
					color: orange;
					a {
						color: orange;
					}
				}
				.text {
					margin-top: 10px;
					width: 100%;
					height: 30px;
				}
			}
			.avgPrice {
				float: left;
				width: 220px;
				height: 200px;
				margin: 20px 0px 0px 0px;
				line-height: 200px;
				span {
					font-size: 26px;
					color: orange;
				}
			}
		}
	}
}
